body{
  font-family: "Arial";
  background: rgb(230,230,230);
  color: rgb(40,40,40);
  background: -moz-linear-gradient(top, rgb(230,230,230),  rgb(150,150,150) );
  background: -webkit-linear-gradient(top, rgb(230,230,230),  rgb(150,150,150) );
}
a {
  color: rgb(40,40,40);
}
#container{
  background-color: white;
  border-radius: 20px;
  padding:40px;
  width: 900px;
  height: 1200px;
  margin: 50px 150px;
}
.cell .detailtext {
    visibility:hidden;
    position:relative;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    width: 50px;
    border-radius:5px;
    left:15px;
    top:5;
    padding:5px;
    z-index: 1000;
    opacity:0;
}

.cell:hover .detailtext {
    visibility: visible;
    opacity: 1;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}
.cell:hover, .cell.activeCell {
  border: 4px solid black;
  width: 12px;
  height: 12px;
}
.cell{
  float: left;
  height: 18px;
  position: relative;
  width: 18px;
  border: 1px solid white;
  z-index:0;
}
.histTitle{
  position:absolute;
  top:12px;
  left:35px;
  color: rgb(230,230,230);
}
#template{
  position:relative;
  float:left;
  margin: 20px 40px;
  z-index: -2;
}
#template img{
  width : 646px;
  z-index: -2;
}
/* Style the list */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgb(200,200,200);
}
ul.tab2{
    margin-top: 3px;
    background-color: rgb(220,220,220);
}

/* Float the list items side by side */
ul li {float: left;}


/* Style the links inside the list items */
ul li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 28px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul li.title{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 28px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul li a:hover,a:focus,.active {background-color: rgb(160,160,160);}

#var{
    width:120px;
    float: left;
    text-align:right;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#canvas{
  float: left;
  position: relative;
  top:30px;
  left:50px;
  background-image: url(./template.png);
  width: 680px;
  height: 440px;
  background-size: 680px 440px;
  background-repeat: no-repeat;
}
#scale{
  float:left;
  top: 20px;
  left: 90px;
  height:500px;
  position: relative;
}
#hist{
  position:absolute;
  height:200px;
  width:300px;
  background-color: rgba(0,0,0,0.9);
  border-radius: 10px;
  z-index:1000;
}
.histSvg{
  position: absolute;
  float: right;
  width: 240px;
  left:10px;
  top:30px;
  padding-top:10px;
  padding-left:25px;
  height: 180px;
  z-index: 1001;
}
.bar rect {
  fill: steelblue;
  border:1px solid black;
  z-index:2000;
}

.histAxis text {
  fill: rgb(230,230,230);
  font: 10px sans-serif;
}
.histAxis path, .histAxis line{
 stroke:rgb(230,230,230);
}
#close{
  position:relative;
  float:right;
  height:20px;
  width:20px;
  margin:10px;
  color:white;
  display:block;
  box-sizing:border-box;
  border-width:1px;
  border-style: solid;
  border-color:white;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 53%,transparent 53%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 53%,transparent 53%, transparent 100%);
  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
}
