.hyttaMarker{
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  color:red;
}
div{
  font-family: 'helvetica';
}
#title{
  margin-top: 2%;
}
#title h1{
  margin-bottom: 2px;
  margin-top: 0px;
  font-size: 160%;
}
#title p{
  margin-top: 0px;
  margin-bottom: 0px;
}
#header{
  position: absolute;
  padding: 15px;
  z-index: 10;
  max-width: 70%;
  width: 380px;
  height: auto;
  float: left;
  background: rgba(255,255,255,0);
  color: rgba(45, 71, 147,0);
  transition: 0.5s;
  border-radius: 12px;
}
#header:hover{
  background: rgba(255,255,255,0.5);
  color: rgba(45, 71, 147,1);
}
#logo{
  position: relative;
  z-index: 11;
  float:left;
  margin-right: 5%;
}
body{
  margin: 0px;
}
.map{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.modal{
	width:200px;
}
.modalButton{
  background: grey;
  padding: 5 20px;
  margin: 5 14px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.modalButton:hover{
  background: rgb(207, 19, 19);
}
